.about__wrapper {
  display: flow-root;
}

.about__preview {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 530px);
  width: 100%;
  margin-right: 30px;
}

.about__desc {
  float: right;
  max-width: 500px;
  width: 100%;
}

.about__text {
  font-size: 20px;
  line-height: 1.4;
  white-space: pre-line;
}

.about__text:not(:last-of-type) {
  margin-bottom: 20px;
} 

.about__text:last-of-type {
  margin-bottom: 48px;
}