.footer {
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
  padding-bottom: 10px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 156px;
}

.address {
  margin-bottom: 35px;
}

.address__contact {
  position: relative;
  display: block;
  max-width: 350px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #fff;
  padding-left: 65px;
}

.address__contact_block_city {
  margin-bottom: 38px;
}

.address__contact_block_tel {
  margin-bottom: 10px;
}

.address__contact-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.socials__list {
  font-size: 0;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
}

.socials__item:not(:last-child) {
  margin-right: 26px;
}

.socials__icon {
  display: block;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
}

.footer__copyright-text {
  white-space: pre-line;
  font-size: 14px;
  line-height: 1.14;
}