.address {
  margin-bottom: 35px;
}

.address__contact {
  position: relative;
  display: block;
  max-width: 350px;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #fff;
  padding-left: 65px;
}

.address__contact_city {
  margin-bottom: 38px;
}

.address__contact_tel {
  margin-bottom: 10px;
}

.address__contact-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
}

.socials__item:not(:last-child) {
  margin-right: 26px;
}

.social__icon {
  display: block;
}