.quote {
  text-align: right;
}

.quote__text {
  position: relative;
  font-size: 44px;
  line-height: 1.13;
  text-transform: uppercase;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 40px;
}

.quote__text::before, .quote__text::after {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.14;
  color: #6c0287;
}

.quote__text::before {
  position: absolute;
  content: '“';
  left: 0;
  top: -8px;
}

.quote__text::after {
  content: ' ”';
  display: inline;
}

.quote__text strong {
  display: block;
  font-weight: 400;
}

.quote__author {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  max-width: 389px;
  width: 100%;
}

.quote__author-img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.quote__author-cite {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 1.4;
  white-space: pre-line;
}