.services__title {
  max-width: 730px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px 20px;
}

.services__item {
  flex-basis: calc(33% - 10px);
  min-height: 228px;
  background-size: cover;
  background-position: center;
}

.services__item-link {
  display: flex;
  align-items: flex-end;
  padding: 6px 40px;
  width: 100%;
  height: 100%;
}

.services__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
  min-height: 2.8em;
  white-space: pre-line;
}

.services__item_service_vr {
  background-image: url("../img/vr.jpg");
}

.services__item_service_audio {
  background-image: url("../img/audio.jpg");
}

.services__item_service_karaoke {
  background-image: url("../img/micro.jpg");
}

.services__item_service_board {
  background-image: url("../img/game.jpg");
}

.services__item_service_movie {
  background-image: url("../img/netflix.jpg");
}

.services__item_service_playstation {
  background-image: url("../img/sony.jpg");
}
