* {
  box-sizing: border-box;
}

body {
  background-color: #1B1A1B;
  color: #FFFFFF;
  margin: 0;
}

.quote {
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.img-wrapper {
  margin: 0;
}